li{ list-style: none;}
.darkmode #hd{ background-color: #606060 !important;}
.darkmode #hd a{ color:white !important}
.lightmode #hd{ background-color: white !important;}
.lightmode #hd a{ color: #606060 !important; }
#colorBase button{ font-size: 0; line-height: 0; width:15px; height:15px;
border-radius: 50%;}
#colorBase .darkVer{
  background-color:  #606060 !important;
  border:1px solid white;
}
#colorBase .lightVer{
  background-color: white !important;
  border:1px solid #606060;
}

